@import 'colors';
@import 'dark';

::-webkit-scrollbar {
  width: 0;
}

:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0 10px;
  max-width: 50em;
  font: 14px 'Roboto', sans-serif;
}

form {
  margin: 0 auto;
  max-width: 50em;
  border: 2px solid $light-bg-2;
  border-radius: 5px;
}

form input {
  border: 0;
  padding: 10px;
  width: 100%;
}

.js-dark-mode {
  cursor: pointer;
  padding: 5px 10px;
  background: $light-bg-1;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.chat {
  padding-bottom: 50px;
  height: 100vh;
  display: none;
}

.chat-messages {
  list-style-type: none;
  padding: 0;

  li {
    padding: 10px;
  }

  li:nth-child(odd) {
    background: $light-bg-1;
    border-radius: 5px;
  }
}

.chat-scroll {
  height: 100%;
  overflow-y: scroll;
}

.login {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .chat {
    padding-top: 45px;
  }
}
