doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title chat
  link(href='/css/index.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
button.js-dark-mode(type='button') onion
#chat.chat
  #chat-scroll.chat-scroll
    ul#chat-messages.chat-messages
  form#chat-form.chat-form
    input#chat-input.chat-input(autocomplete='off')
#login.login
  form#login-form.login-form
    input#login-username.login-username(placeholder='Username...' autocomplete='off')
script(src='/socket.io/socket.io.js')
script(src='https://code.jquery.com/jquery-1.11.1.js')
script(src='/client.js')
script(src='/dark.js')