doctype html
include includes/head.pug

.side
  h2 Online
  .users

.chat
  table
    tr
      td
        h2 #{username}
      td.right
        a.logout Log Out
  .scroll
    ul.messages
  form
    input(autocomplete='off')

script(type='text/javascript').
  const username = '#{username}'
  const uid = '#{uid}'
include includes/scripts.pug