doctype html
include includes/head.pug
form(action='/login' method='post')
  input.input(name='username' type='text' placeholder='Username' autocomplete='off')
  br
  input.input(name='email' type='email' placeholder='Email' autocomplete='off')
  br
  button.button(type='submit') log in
a(href='/') back