doctype html
include includes/head.pug

form.login(action='/signup' method='post')
  h2 chat
  input(name='username' type='text' placeholder='Username' autocomplete='off')
  br
  input(name='email' type='email' placeholder='Email' autocomplete='off')
  br
  table
    tr
      td
        button(type='submit') sign up
      td.right
        a(href='/') back